{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Agregar un proyecto nuevo {% endblock %}
{% block content %}


<!-- *******************************************MENU PRINCIPAL***************************** -->
    <section class="menu_proyectos">
    <a class="a_agregar_proyectos" href="{% url "AddTodoListView" %}">Agregar Lista</a>
</section>
<!-- *******************************************FORMULARIO ***************************** -->
<br>
{% csrf_token %}
    <table border="0">
        <thead>
            <th>Nombre</th>
            <th>Tarea</th>
            <th>Ver tareas</th>
        </thead>
        <tbody>
        {% for todo in todo %}
        <tr>
            <td>{{ todo.name }}</td>
            <td>{{ todo.description }}</td>
            <td><a href={{ todo.id }}>Ver</a></td>
        </tr>
        </tbody>
        {% endfor %}
    </table>

{% endblock %}

{% block contenido %}
lista de que hacer
{% endblock %}
