{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Agregar un proyecto nuevo {% endblock %}
{% block content %}


<!-- *******************************************MENU PRINCIPAL***************************** -->
    <section class="menu_proyectos">
    <a class="a_agregar_proyectos" href="{% url "SpecificTaskView" %}">Ver tarea en especifica</a>
    <a class="a_agregar_proyectos" href="{% url "AddTaskView" %}">Agregar tarea</a>
</section>
<!-- *******************************************FORMULARIO ***************************** -->

{% csrf_token %}
<div id="container">
<div id="row">
    <div id="left">
        <p>Nombre:</p>
        <p>Tarea:</p>
        <p>Fecha de incicio:</p>
        <p>Fecha final:</p>
        <p>Usuario asignado:</p>
        <p>Usuario peticion:</p>
        <p>Plataforma:</p>
        <p>Prioridad:</p>
    </div>
        {% csrf_token %}
    {% for task in tasks %}
        <div id="right">
            <p>{{ task.name }}</p>
            <p>{{ task.task }}</p>
            <p>{{ task.start_date }}</p>
            <p>{{ task.end_date }}</p>
            <p>{{ task.user_assigned }}</p>
            <p>{{ task.user_assigner }}</p>
            <p>{{ task.platform}}</p>
            <p>{{ task.priority}}</p>
        </div>
    {% endfor %}
    </div>
</div>

</body>
{% endblock %}

{% block contenido %}
lista de que hacer
{% endblock %}