{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Agregar un proyecto nuevo {% endblock %}
{% block content %}

<h1>DISENO selecciona una opcion del menu </h1><br>
<h2>Diseno {{ designs.assignment}} </h2>

{% csrf_token %}
    <table border="0">
        <thead>
            <th>Proyecto</th>
            <th>Usuario peticion</th>
            <th>Plataforma</th>
            <th>Tipo</th>
            <th>Fecha peticion</th>
            <th>Fecha tentativa</th>
            <th>Comentario</th>
        </thead>
        <tbody>
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ designs.user_assigner }}</td>
            <td>{{ designs.platform }}</td>
            <td>{{ designs.type }}</td>
            <td>{{ designs.asked_date }}</td>
            <td>{{ designs.tentative_date }}</td>
            <td>{{ designs.comment  }}</td>
        </tr>
        </tbody>
    </table>

    <br>
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
                {{ form.as_p }}
                {{ form.errors }}
    <input class="btnAgregar" type="submit" value="Agregar perticion">
</form>
    <p>{{ message }}</p>
</body>

{% endblock%}
{% block contenido %}
    Diseno
{% endblock %}