{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Agregar un proyecto nuevo {% endblock %}
{% block content %}

<h1>DISENO selecciona una opcion del menu </h1>
    <br>
<!-- ******************************l*************MENU PRINCIPAL***************************** -->
    <section class="menu_proyectos">
    <a class="a_agregar_proyectos" href="{% url "DesignRequestView" %}">Peticion diseno</a>
    <a class="a_agregar_proyectos" href="{% url "DesignResponseView" %}">Respuesta diseno</a>
</section>
<!-- *******************************************FORMULARIO ***************************** -->
<br>
<h2 style="text-align: center">pendientes de diseno</h2>
    <table>
        <thead>
            <th>proyecto</th>
            <th>Usuario peticion</th>
            <th>Peticion</th>
            <th>Plataforma</th>
            <th>Tipo</th>
            <th>Comentario </th>
            <th>Ver </th>
        </thead>
        <tbody>
        {% for design in designs %}
        <tr>
            <td>{{ design.project}}</td>
            <td>{{ design.user_assigner }}</td>
            <td>{{ design.assignment}}</td>
            <td>{{ design.platform}}</td>
            <td>{{ design.type}}</td>
            <td>{{ design.comment}}</td>
            <td>Ver</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock%}l
{% block contenido %}
    Diseno
{% endblock %}