{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Agregar un proyecto nuevo {% endblock %}
{% block menu %}
    <li><a href="/index/" >Projectos</a></li>
{% endblock %}
{% block content %}


<!-- *******************************************MENU PRINCIPAL***************************** -->
    <section class="menu_proyectos">
    <a class="a_agregar_proyectos" href="{% url "SpecificTaskView" %}">Ver tarea en especifica</a>
    <a class="a_agregar_proyectos" href="{% url "AddTaskView" %}">Agregar tarea</a>
</section>
<!-- *******************************************FORMULARIO ***************************** -->
<br>
{% csrf_token %}
    <table border="0">
        <thead>
            <th>Tarea</th>
            <th>Descripcion</th>
            <th>Ver </th>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.description }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>

{% endblock %}

{% block contenido %}
Tareas
{% endblock %}
