body, html{
	padding: 0;
	margin: 0;
}
.menu_principal{
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    background-color: #0A6300;
}
* {
    box-sizing: border-box;
}
.user_info {
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 0px;
    text-align: right;
    padding: 1em 4em 1em 1em;
    font-family: Roboto;
    color: #FFF;
}
.user_info a{
    padding-left: 1em;
    text-decoration: none;
    font-family: Roboto;
    color: white;
}
.user_info a:hover{
    background-color: darkgrey;
}
.main_title h2{
    text-transform: uppercase;
    height: 20px;
    font-size: 20px;
    margin-top: 0px;
    color: #FFF;
    padding-left: 2em;
    font-family: Roboto;
    text-align: center;
}
.a_menu {
    height: 20px;
}

.a_menu a {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 14%;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 0.5em;
}

.a_menu a:hover{
    background-color: gray;
}
.page_title{
    padding: 0.5%;
    background-color: gray;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Roboto;
}
.menu_proyectos{
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

.a_agregar_proyectos{
    text-decoration: none;
    background-color: #C37F00;
    padding: 0.7em;
    color: white;
}

.a_ver_proyectos{
    text-decoration: none;
    background-color: #C37F00;
    padding: 0.7em;
    margin-left: 1.25em;
    color: white;
}


.menu_proyectos a:hover{
    background-color: gray;
}

#proyectos_resumen{
    background-color: aqua;
        /*padding-right: 50px;*/
}


#container {
        display: table;
        box-shadow: 0px 0px 3px 3px  black;
        padding-right: 40px;
        margin-left:5%
    }

#row  {
        display: table-row;
    }

#left {
    display: table-cell;
	padding-left: 10px;
    background-color:lavender;
    font-weight: 100;
    padding-right: 20px;
    box-shadow: 1px 0px 0px 0px  black;
    }

#right {
    display: table-cell;
	padding-left: 20px;
    }
#right p:hover{
    background-color: dodgerblue;
}
.btnAgregar{
	margin-top: 30px;
    background-color:darkslateblue;
    font-weight: 100;
    padding: 7px;
    color: white;
    width: 37%;
}
