/*------------------------------------------PROJECTS/index--------------------------------*/
.section_documents{
    width: 80%;
    margin:  0 auto;
    background-color: #EEEEEE;
    border: 2px solid #AAAAAA;
}
.PDF{
    width: 97%;
    background-color: white;
    margin-left: 15px;
}
.documentos, .imagenes{
    display: inline-block;
    width: 150px;
    height:150px;
    border: 1px solid darkgrey;
    margin-left: 15px;
    line-height: 1.3;
    text-align: left;
    overflow: hidden;
    border-radius: 5%;
    background-color: white;
}
.documentos h3, .imagenes h3, .PDF h3{
    background-color: gray;
    color:white;
    text-align: center;
}

.documentos p, .imagenes h3, .PDF h3{
    text-align: center;
}
.documentos p a, .imagenes p a, .PDF p a{
    color:dodgerblue;
}
.documentos figure, .imagenes figure, .PDF figure{
   margin-left: 20px;
}

.documentos:hover, .imagenes:hover, .PDF:hover{
    background-color: gainsboro;
}
