{% extends 'base.html' %}
{% block title %}Inicio de sesion{% endblock title %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}"/>
<script src="{% static "js/vendor/jquery-1.11.2.min.js"%}"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="{% static "js/main.js" %}"></script>

<form id="form-login" action="" method="post" autocomplete="off">
    <div>
        <h1>Login</h1>
        {% csrf_token %}
        {{ form.as_p }}
        {{ mensaje }}
        <p id="bot"><input type="submit" id="submit" name="submit" value="Ingresar" class="boton"></p>
    </div>
</form>
<div>
<a>¿No tienes cuenta aun? </a><a href="/registro/">Registrate</a>
</div>
{% endblock %}

