{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Agregar un proyecto nuevo {% endblock %}
{% block menu %}
    <li><a href="/index/" >Projectos</a></li>
{% endblock %}
{% block content %}
<!-- *******************************************FORMULARIO ***************************** -->
<br>
<section class="tickets">
    <section class="tickets_menu">
        <div class="div_agregar_ticket">
            <a class="a_agregar_ticket" href="{% url "AddTicketView" %}">Agregar ticket</a>
        </div>
    </section>

    {% for ticket in tickets %}
    <section class="tickets_available">
    {% csrf_token %}
        <h3>{{ ticket.description }}</h3>
        <p><b>Descripcion:</b> {{ ticket.user_reporter }}</p>
        <p><b>Usuario asignado:</b> {{ ticket.user_assigned }}</p>
        <p><b>Prioridad:</b> {{ ticket.priority }}</p>
    </section>
    {% endfor %}

</section>

{% endblock %}
{% block contenido %}
    Tickets
{% endblock %}
