{% load staticfiles %}
<!DOCTYPE html>
<HTML>
<HEAD>
    <meta charset="UTF-8">
    <TITLE>{% block title %} Bienvenidos {% endblock %}</TITLE>
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
   	<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
</HEAD>
<BODY>
<section class="menu_principal">
    <div class="header">
        <div class="user_info">Usuario pruebas
            {% if user.is_authenthicated %}
            <a href="/logout/" class="a_regresar_venta">Cerrar sesion</a>
            {% else %}
            <a href="/inicio_de_sesion/" class="a_regresar_venta">Inicio de sesion</a>
            {% endif%}
        </div>
        <div class="main_title"><h2>Administrador de proyectos</h2>
        </div>
         <section class="a_menu">
            <a href="/index/" >Proyectos</a>
            <a href="/todolist/">To-Do</a>
            <a href="/design/" >Diseno</a>
            <a href="/tickets/" >Tickets</a>
        </section>
    </div>
</section>
    <div class="page_title">{% block contenido %}  {% endblock %}</div>
{% block content %}
{% endblock %}
</BODY>
</HTML>
