{% load staticfiles %}
<!DOCTYPE html>
<HTML>
<HEAD>
    <meta charset="UTF-8">
    <TITLE>{% block title %} Bienvenidos {% endblock %}</TITLE>
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
   	<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
</HEAD>
<BODY>
<section class="menu_principal">
        <div class="user_info">
            <h2>Usuario pruebas</h2>
            {% if user.is_authenthicated %}
                 <a href="/logout/" class="a_regresar_venta">Cerrar sesion</a>
            {% else %}
                <a href="/inicio_de_sesion/" class="a_regresar_venta">Inicio de sesion</a>
            {% endif%}
        </div>
        <div class="main_title">
            <h2><div class="page_title">{% block contenido %}  {% endblock %}</div></h2>
        </div>
         <div class="a_menu">
            <ul>
                <li><a href="/index/" >Proyectos</a></li>
                <li><a href="/design/" >Diseno</a></li>
                <li><a href="/todolist/">To-Do</a></li>
                <li><a href="/tickets/" >Tickets</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/perfil/" >Mi perfil</a></li>
                {% endif %}
            </ul>
        </div>
</section>
{% block content %}
{% endblock %}
</BODY>
</HTML>
