{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Agregar un proyecto nuevo {% endblock %}
{% block content %}
{#-----------------------------------------Menu principal-----------------------------------------------#}
<section class="menu_proyectos">
        <a class="a_ver_proyectos" href="{% url "IndexView" %}">Volver a proyectos</a>
    </section>
{#------------------------------------------Formulario-----------------------------------------------------#}
<br>
    <form method="POST" action="">

    {% csrf_token %}
    {{ form.as_p }}
    {{ form.errors }}

<input class="btnAgregar" type="submit" value="Agregar proyecto">
</form>

</body>
{% endblock%}

{% block contenido %}
Agregar un proyecto nuevo
{% endblock %}