{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Agregar un proyecto nuevo {% endblock %}
{% block content %}

<!-- *********************************Menu proyectos**********************************-->
<section class="menu_proyectos">
    <a class="a_agregar_proyectos" href="{% url "addProjectView" %}">Agregar proyecto</a>
</section>
<!-- *******************************************Menu principal ***************************** -->
    <br>
{% csrf_token %}
<table border="0" class="table_projects">
    <thead>
        <th>Nombre:</th>
        <th>Cliente:</th>
        <th>Plataforma:</th>
        <th>Ver proyecto:</th>
</thead>
<tbody
   {% for project in project %}
    <tr>
        <td>{{ project.name }}</td>
        <td>{{ project.client }}</td>
        <td>{{ project.platform }}</td>
        <td><a href="/proyecto.{{project.name}}">Ver</a> </td>
    </tr>
</tbody>
    {% endfor %}
    </table>
</body>
{% endblock %}

{% block contenido %}
    Indice de proyectos
{% endblock %}