{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Agregar un proyecto nuevo {% endblock %}
{% block content %}

    <br>

   {% for project in projects %}
    <div class="proyecto">
        <h3>{{ project.name }}</h3>
        <p><b>Cliente: </b>{{ project.client }}</p>
        <p><b>Plataforma:</b> {{ project.platform }}</p>
        <p><b>Tareas:</b> 3/10</p>
        <p><a href="/proyecto.{{project.name}}">Ver detalles</a></p>
    </div>
    {% endfor %}

<div class="addItem">
    <a href="{% url "addProjectView" %}">Agregar proyecto</a>
</div>

</body>
{% endblock %}

{% block contenido %}
    Indice de proyectos
{% endblock %}
