{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Agregar un proyecto nuevo {% endblock %}

{% block menu %}
    <li><a href="/index/" >Projectos</a></li>
    <li><a href="/modulos/">Modulos</a></li>
    <li><a href="/todolist/" >Listas</a></li>
    <li><a href="/tickets/" >Tickets</a></li>
    <li><a href="/design/" >Diseño</a></li>
    <li><a href="/documents/" >Documentos Relevantes</a></li>
    <li><a href="/contact/" >Contacto</a></li>
{% endblock %}

{% block content %}

<!-- *******************************************Menu principal ***************************** -->
<br>
    <div>

    </div>
<h2 style="text-align: center;">{{ project.name }} Detalles</h2>

<table border="0">
    <thead>
        <th>Fecha de incicio:</th>
        <th>Fecha final:</th>
        <th>URL:</th>
        <th>Dominio:</th>
        <th>Servidor:</th>
        <th>Cliente:</th>
        <th>Plataforma:</th>
        <th>Usuarios:</th>
    </thead>
    <tbody>
        <tr>
            <td>{{ project.start_date }}</td>
            <td>{{ project.due_date }}</td>
            <td>{{ project.url }}</td>
            <td>{{ project.domain }}</td>
            <td>{{ project.server }}</td>
            <td>{{ project.client }}</td>
            <td>{{ project.platform }}</td>
            <td>{{ project.users }}</td>
        </tr>
    </tbody>
</table>

<br>
<h2 style="text-align: center">Lista de pendientes</h2>

<table border="0">
    <thead>
        <th>Lista</th>
        <th>Descripcion</th>
        <th>fecha de inicio</th>
        <th>Fecha final</th>
        <th>Ver tareas</th>
    </thead>
    <tbody>
        {% for todolist in todolist %}
        <tr>
            <td>{{ todolist.name}}</td>
            <td>{{ todolist.description }}</td>
            <td>{{ todolist.start_date }}</td>
            <td>{{ todolist.due_date }}</td>
            <td><a href="/lista/{{todolist.id}}">Ver</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="addItem"><a href="{% url "AddTodoListView" %}">Agregar lista</a></div>

<h2 style="text-align: center">Tickets</h2>

<table border="0">
    <thead>
        <th>Descripcion</th>
        <th>Usuario peticion</th>
        <th>Usuario asignado</th>
        <th>Prioridad</th>
        <th>Ver ticket</th>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.user_reporter }}</td>
            <td>{{ ticket.user_assigned }}</td>
            <td>{{ ticket.priority }}</td>
            <td><a href="/{{ project.name }}/{{ticket.id}}">Ver</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="addItem"><a href="{% url "AddTicketView" %}">Agregar ticket</a> </div>

<h2 style="text-align: center">Diseno pendientes</h2>

<table border="0">
    <thead>
        <th>Peticion</th>
        <th>Plataforma</th>
        <th>Tipo</th>
        <th>Detalles</th>
    </thead>
    <tbody>
        {% for designRequest in designRequests %}
        <tr>
            <td>{{ designRequest.assignment }}</td>
            <td>{{ designRequest.platform}}</td>
            <td>{{ designRequest.type}}</td>
            <td><a href="/diseno.{{designRequest.id}}">Ver</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="addItem"><a href="{% url "DesignRequestView" %}">Agregar diseno</a> </div>

<h2 style="text-align: center">Documentos relevantes</h2>

<br>
{% for imgDocuments in imgDocuments %}
    <div class="documentos">
        <h3>Omaha</h3>
        <figure><img src="{{ MEDIA_URL }}{{ imgDocuments.images }}" height="100px"alt="Documentos"></figure>
        <p><a href="download">Descargar</a></p>
    </div>
{% endfor %}

{% for imgDesign in imgDesigns %}
    <div class="documentos">
        <h3>Diseno</h3>
        <figure><img src="{{ MEDIA_URL }}{{ imgDesign.files }}" height="100px"alt="Documentos"></figure>
        <p><a href="download">Descargar</a></p>
    </div>
{% endfor %}
{% endblock %}

{% block contenido %}
    Indice de proyectos
{% endblock %}