{% extends 'base.html' %}

{% block title %}Registro de usuario{% endblock title %}
{% block content %}
{% csrf_token %}
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="page-header">
                <h2>Registro Usuario</h2>
                    {{ formusr.errors }}
                    {{ formprofile.errors }}
            </div>
            <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formprofile.as_p }}
                <input type="submit" value="Registar" class="btn btn-primary">
            </form>


            <a href="/inicio_de_sesion" target="_self"> regresar </a>
        </div>
    </div>
{% endblock content %}