{% extends 'base.html' %}

{% block title %}Registro de usuario{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="page-header">
                <h2>Registro Usuario</h2>
                    {{ formusr.errors }}
                    {{ formprofile.errors }}
            </div>
            <form method="post" action="" enctype="multipart/form-data">
                <div id="register">
                    {% csrf_token %}
                    {{ formusr.as_p }}
                    {{ formprofile.as_p }}
                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <a href="/inicio_de_sesion" target="_self"> <input type="button" name="boton" value="Regresar" /></a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}