{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Agregar un proyecto nuevo {% endblock %}
{% block content %}

<div class="addItem" ><a href="{% url "UploadDocumentsView" %}">Subir archivo</a></div>
    <br>
<section class="section_documents">

<h2>Archivos PDF</h2>
    <br>
    <table class="PDF">
        <thead>
            <th>Archivo</th>
            <th>Detalles</th>
        </thead>
        <tbody>
    {% for pdf in pdfDocumentos %}
            <tr>
                <td>{{ pdf.name }}</td>
                <td><a href="{{ MEDIA_URL }}{{ pdf.files }}">Ver PDF</a></td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

    <br>
<h2>Documentos</h2>
{% for imgDocumento in imgDocumentos %}
    <div class="documentos">
        <h3>Documentos</h3>
        <figure><a href="{{ MEDIA_URL }}{{ imgDocumento.images }}">
            <img src="{{ MEDIA_URL }}{{ imgDocumento.images }}" height="80px"alt="Ver"></a></figure>
    </div>
{% endfor %}

    <br>
<h2>Imagenes de diseno</h2>
{% for imgDiseno in imgDisenos %}
    <div class="imagenes">
        <h3>Diseno</h3>
        <figure><a href="{{ MEDIA_URL }}{{ imgDiseno.files }}">
            <img src="{{ MEDIA_URL }}{{ imgDiseno.files }}" height="100px"></a></figure>
    </div>
{% endfor %}

    <br>
<h2>Imagenes de tickets</h2>
{% for imgTicket in imgTickets%}
    <div class="imagenes">
        <h3>Tickets</h3>
        <figure><a href="{{ MEDIA_URL }}{{ imgTicket.files }}">
            <img src="{{ MEDIA_URL }}{{ imgTicket.files }}" height="100px"alt="Ver"></a></figure>
    </div>
{% endfor %}

</section>

{% endblock %}

{% block contenido %}
    Documentos relevantes
{% endblock %}