{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Agregar un proyecto nuevo {% endblock %}
{% block menu %}
    <li><a href="/index/" >Projectos</a></li>
{% endblock %}
{% block content %}

<h1 style="text-align: center">Subir un documento</h1>
<!-- *******************************************FORMULARIO ***************************** -->
 <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.errors }}
     <br>
    <input type="submit" value="Subir documento">
</form>

{% endblock%}

{% block contenido %}
    Subir documento
{% endblock %}
