{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Agregar un proyecto nuevo {% endblock %}
{% block content %}

<h1 style="text-align: center">Subir un documento</h1>
<!-- *******************************************FORMULARIO ***************************** -->
 <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
     <br>
    <input type="submit" value="Subir documento" class="submit-btn input-formmiddle">
</form>

{% endblock%}l
{% block contenido %}
    Subir documento
{% endblock %}
