{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Modulos {% endblock %}
{% block content %}
{#-----------------------------------------Menu principal-----------------------------------------------#}
<section class="menu_modulos">
        <a class="a_ver_proyectos" href="{% url "addModuleView" %}">Agregar un nuevo modulo</a>
    </section>
{#------------------------------------------Formulario-----------------------------------------------------#}
<br>
{% csrf_token %}
    <table border="0">
        <thead>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Justificacion</th>
            <th>Fecha de creacion</th>

        </thead>
        <tbody>
        {% for module in module %}
        <tr>
            <td>{{ module.name }}</td>
            <td>{{ module.description }}</td>
            <td>{{ module.justification }}</td>
            <td>{{ module.start_date }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>

{% endblock %}

{% block contenido %}
Modulos
{% endblock %}